apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: oil-spill-detection-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: oil-spill-detection
  minReplicas: 2
  maxReplicas: 7
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50